#contact-us-page>header {
  background-color: var(--deep-black);
}

#contact-us-page .contact-section {
  padding: 24px 0 80px;
  background-color: var(--deep-black);
}

#contact-us-page .section-title {
  margin-bottom: 16px;
  font-family: "Cardo";
  color: var(--blush-white);
  font-size: var(--font-32);
  font-weight: 400;
}

#contact-us-page .section-sub-title {
  font-family: "Libre Franklin";
  color: var(--blush-white);
  font-size: var(--font-16);
  font-weight: 400;
}

#contact-us-page .location-title {
  margin-bottom: 12px;
  font-family: "Cardo";
  color: var(--white);
  font-size: var(--font-32);
  font-weight: 400;
}

#contact-us-page form .form-label {
  display: flex;
}

#contact-us-page .for-wrapper-textarea {
  height: 100%;
  display: flex;
  flex-direction: column;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  height: calc(100% - 58px);
  color: var(--white);
  background-color: var(--graphite-black);
  border: 1px solid var(--white);
}

#contact-us-page .error {
  font-family: "Libre Franklin";
  color: var(--white);
  font-size: var(--font-16);
  font-weight: 400;
  line-height: 24px;
}

input {
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: var(--white);
  font-size: var(--font-14);
  border: 1px solid var(--white);
  background-color: var(--graphite-black);
}

.input-error {
  outline: none;
  border: 3px solid rgb(244, 67, 54) !important;
}

label {
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: "Libre Franklin";
  color: var(--white);
  font-size: var(--font-14);
  font-weight: 400;
  line-height: 14px;
}

button[type="submit"],
input[type="submit"] {
  margin-left: 20px;
  margin-top: 16px;
  padding: 12px 20px;
  display: block;
  appearance: none;
  font-family: "Libre Franklin";
  font-size: var(--font-16);
  color: var(--deep-black);
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: var(--blush-white);
}

.wrapper-checkbox {
  margin-top: 28px;
  margin-left: 20px;
  padding: 0;
  width: 100%;
  height: fit-content;
  display: flex;
}

.wrapper-checkbox>span {
  margin-left: 8px;
}

.form-checkbox {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  width: 12px;
  height: 12px;
}

@media (max-width: 768px) {
  textarea {
    width: 100%;
    height: 96px
  }

  .label-message {
    margin-top: 0;
  }
}