.installation-section {
  padding-bottom: 100px;
}

.installation-section .row.installation-list {
  justify-content: center;
}

.installation-section .row>[class*="col-"].installation-item {
  margin-top: 40px;
}

.installation-section .row>[class*="col-"].installation-item:hover {
  transition: all 240ms;
  transform: translateY(-4px);
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, .24), 0 2px 2px 0 rgba(0, 0, 0, .08);
}

.installation-section .section-title {
  margin-bottom: 24px;
  color: var(--blush-white);
  font-family: "Cardo";
  font-size: var(--font-32);
  font-weight: 400;
  text-align: center;
}

.installation-section .installation-img {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
  vertical-align: middle;
}

.installation-section .card-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--coal-black);
}

.installation-section .card-footer-title {
  color: var(--white);
  font-family: "Cardo";
  font-size: var(--font-28);
  font-weight: 700;
}